<!-- Welcome Page -->
<header id='welecom_page'>

  <!-- Navbar Header -->
  <app-navbar-home></app-navbar-home>

  <!-- Content Header -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex flex-wrap align-content-center">
        <div class="d-flex flex-wrap align-content-around content-left">
          <div class="header-text">
            <h1>Angular App Web.</h1>
            <h1>Users and Posts go now.</h1>
          </div>
          <div class="header-btn">
            <button [routerLink]="['/users']"  class="btn btn-lg btn-primary">GET STARTED</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-wrap align-content-center justify-content-start">
        <img src="../../../assets/images/angular-icon.svg" alt="Angular Icon" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <a href="https://github.com/mohammed-esi" target="_blank"><p class="mx-4 github"><i class="fab fa-github mx-2"></i>mohammed-esi</p></a>
        <a href="https://www.linkedin.com/in/zighed-mohammed-729706198/" target="_blank"><p class="mx-4 linkedin"><i class="fab fa-linkedin-in mx-2"></i>Zighed Mohammed</p></a>
      </div>
    </div>
  </div>
</header>
