<!-- Page Of Users -->
<section id="users">

  <!-- Navbar User -->
  <app-navbar-user></app-navbar-user>

  <!-- Content Of Page -->
  <div class="header-page d-flex flex-wrap align-content-center">
    <div class="container">
      <h1>USERS & INFORMATIONS</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-users d-flex flex-wrap align-content-center">
          <h6 class="mr-auto">Users with their information, just Api get from json place holder.</h6>
          <button disabled data-toggle="tooltip" title="The website doesn't completed yet!" class="btn btn-primary py-2">create user <i class="fas fa-chevron-right ml-3"></i></button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="users">
      <div class="col-lg-4" *ngFor="let user of users">
        <div class="card my-4">
          <div class="card-body">
            <h2 class="text-center mb-4">{{user.name}}</h2>
            <div class="d-flex">
              <b>Email:</b> <p class="text-muted ml-1">{{user.email}}</p>
            </div>
            <div class="d-flex">
              <b>Address:</b> <p class="text-muted ml-1">{{user.address.city}} {{user.address.street}} </p>
            </div>
            <div class="d-flex mt-4">
              <a class="ml-auto" routerLink="/user/{{user.id}}">Go to profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="loading === true">
      <div class="col">
        <div class="loading d-flex flex-wrap align-content-center justify-content-center">
          <div class="spinner-border text-muted"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<app-footer></app-footer>